@media (min-width: 768px) {
  .carousel-item {
    height: 66vh;
  }
  img {
    height: 66vh;
  }
}
footer {
  height: 33vh;
}
.container-footer {
  height: 100%;
  width: 100vw;
  font-size: 12px;
  font-family: sans-serif;
}
.first {
  position: relative;
}
.first::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: black;
  top: 7px;
  left: -6px;
  bottom: 0;
  border-radius: 100%;
}
@media (max-width: 768px) {
  section::before {
    content: ".";
    height: 200px;
    width: 1px;
  }
  section {
    height: 60vh;
  }
  footer {
    height: 40vh;
  }
}
